[submodule "full_shop_backend"]
	path = full_shop_backend
	url = https://github.com/Nikogjj/full_shop_backend.git
[submodule "full_shop_frontend"]
	path = full_shop_frontend
	url = https://github.com/Nikogjj/full_shop_frontend.git
[submodule "full_shop_frontend"]
	path = full_shop_frontend_admin
	url = https://github.com/Nikogjj/full_shop_frontend_admin.git